<div style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#0b0c0c">
  <table width="100%" style="border-collapse:collapse;max-width:580px;margin:auto" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td bgcolor="#0b0c0c" style="padding:10px 0">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;max-width:580px;margin:auto">
          <tr>
            <td style="font-size:28px;line-height:1.315789474;font-family:Helvetica,Arial,sans-serif;font-weight:700;color:#ffffff;padding-left:10px">
              Confirm your email
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:10px">
				<p style="font-size:19px;line-height:25px;color:#0b0c0c">Hi {0},</p>
        <p style="font-size:19px;line-height:25px;color:#0b0c0c">Thank you for registering. Please click on the link below to activate your account:</p>
        <blockquote style="border-left:10px solid #b1b4b6;padding-left:15px;margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
					<p style="margin:0"><a href="{1}" style="color:#1D70B8;text-decoration:none">Activate Now</a></p>
        </blockquote>
        <p style="font-size:19px;line-height:25px;color:#0b0c0c">Link will expire in 15 minutes.</p>
        <p style="font-size:19px;line-height:25px;color:#0b0c0c">See you soon</p>
      </td>
    </tr>
  </table>
</div>
